body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}
.container{
  position: relative;
  text-align: center;
}

.texto-encima{
  position: absolute;
  top: 10px;
  left: 10px;
}
.centrado{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cont {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content:baseline;
  background: url("https://images.pexels.com/photos/1532771/pexels-photo-1532771.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-position: center;
}
.cont-text{
  width: 500px;
  height: 300px;
  position: static;
  top: 200px;
  color: #fff;
  background: rgba(5, 7, 12, 0.40);
}
.header {
  background-color: #3498db;
  color: #fff;
  text-align: center;
  padding: 1em 0;
}

.logo {
  font-size: 2em;
  margin: 0;
}

.navbar {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  margin-right: 15px;
  font-size: 1.2em;
}

section {
  padding: 80px 0;
}

.hero {
  background-color: #ecf0f1;
  text-align: center;
  color: #333;
}

.hero-content {
  max-width: 600px;
  margin: 0 auto;
}

.about {
  background-color: #3498db;
  color: #fff;
}

.contact {
  background-color: #2ecc71;
  color: #fff;
}

.testimonials {
  background-color: #f39c12;
  color: #fff;
}

.testimonial {
  margin-bottom: 20px;
}

.testimonial p {
  font-style: italic;
}

.testimonial .author {
  font-weight: bold;
}

.resources {
  background-color: #e74c3c;
  color: #fff;
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em 0;
}
